{% extends "base.html" %}

{% block title %}ホーム{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="jumbotron">
            <h1>ようこそ！</h1>
            <h2>Flask & Docker</h2>
            <p>これはトップページです。</p>
        </div>
        <div class="col-md-6">
            <div class="card main-card p-5 text-center">
                <p class="lead mt-3">{{ message }}</p>
                <hr>
                <p class="text-muted">この画面はHTMLテンプレートで作成されています。</p>
            </div>
        </div>
        <div class="card p-4">
            <h2>お名前を入力してください</h2>
            <form action="/greet" method="POST">
                <div class="mb-3">
                    <input type="text" name="username" class="form-control" placeholder="例：タロウ" required>
                </div>
                <button type="submit" class="btn btn-primary">送信する</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}